<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<div data-controller="hello"></div>

<a class="btn btn-info" href="https://wa.me/5353989045?text=AA A A A A A A A A A AAAA A A A">Enviar Pedido</a>