<div id="<%= dom_id nom_unit %>">
  <div class="row">
    <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">
      <% if nom_unit.image.present? %>
        <%= image_tag nom_unit.image, class: "image-upload" %>
      <% else %>
        <img data-image-preview-target="preview" class="image-upload" src="/unknown.webp" alt="unknown">
      <% end %>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12 col-md-12 d-flex justify-content-center">
      <h4>Datos Generales</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <p>Nombre: <b><%= nom_unit.name %></b></p>
    </div>
    <div class="col-md-6 col-12">
      <p>Apellidos: <b><%= nom_unit.code %></b></p>
    </div>
  </div>
</div>
