<% if notice %>
  <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"  data-controller="alerts" data-alerts-target="alert"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"  data-controller="alerts" data-alerts-target="alert"></button>
  </div>
<% end %>