<footer class="bg-dark text-center text-white w-100" data-tamanno-target="footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Copyright &copy; 2025&nbsp;
    <a class="text-white" href="https://www.linkedin.com/in/ernepazzo1212">ErnePazzo</a>.
  </div>
  <!-- Copyright -->
</footer>