<div class="text-end">
  <%= link_to t('.login'), new_session_path, class: "btn btn-outline-light me-2"  unless Current.user %>
  <%= link_to t('.singup'), new_user_path, class: "btn btn-warning"  unless Current.user %>
  <%= link_to t('.logout'), session_path(Current.user.id), data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
  }, class: "btn btn-outline-light me-2" if Current.user %>
</div>