<div class="text-end">
  <%= link_to t('.login'), login_path, class: "btn btn-outline-light me-2"  unless current_user %>
  <%= link_to t('.sing_up'), register_path, class: "btn btn-warning"  unless current_user %>
  <%= link_to t('.logout'), logout_path(current_user.id), data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
  }, class: "btn btn-outline-light me-2" if current_user %>
</div>