.hide_box {
  display: none !important;
}

/* Botón de Whatsapp "Text me" */
#button_send_whatsapp {
  background-color: #fff;
  border: 1px solid #25D366;
  padding: 5px;
  position: relative;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
}

#button_send_whatsapp > p {
  position: absolute;
  top: 0.1em;
  left: 1.15em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color: #25D366;
}

#button_send_whatsapp > svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff
}

#button_send_whatsapp:hover p {
  left: 0.5em;
  color: #fff
}

#button_send_whatsapp:hover svg {
  opacity: 1;
}

#button_send_whatsapp:hover {
  background-color: #25D366;
}

@media screen and (max-width: 768px) {
  #button_send_whatsapp p {
    left: 0.5em;
    color: #fff
  }
  
  #button_send_whatsapp svg {
    opacity: 1;
  }
  
  #button_send_whatsapp {
    background-color: #25D366;
  }
}
/* Botón de Whatsapp "Text me" */