<%= turbo_frame_tag :remote_modal, target: :_top do %>
<!--  <div id="modal_admin" class="modal fade" data-controller="modal">-->
<!--    <div class="modal-dialog" style="max-height: 80vh;">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLabel"><%#= title %></h5>-->
<!--          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
          <%#= render partial: 'admin/users/user', locals: { user: @user, url: @url, url_method: @url_method } %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="modal fade" id="user_modal" tabindex="-1" aria-labelledby="user_label" aria-hidden="true" data-controller="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="user_label"><%= title %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render partial: 'admin/users/user', locals: { user: @user, url: @url, url_method: @url_method } %>
        </div>
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--          <button type="button" class="btn btn-primary">Save changes</button>-->
<!--        </div>-->
      </div>
    </div>
  </div>
<% end %>