<div id="favorite" >
  <% if product.favorite %>
    <%= link_to 'ðŸ’”', favorite_path(product.id), data: {
      turbo_method: :delete
    }, class: "text-decoration-none" %>
  <% else %>
    <%= link_to 'â¤ï¸', favorites_path(product_id: product.id), data: {
      turbo_method: :post
    }, class: "text-decoration-none" %>
  <% end %>
</div>