<div class="mb-3" data-controller="image-preview">
<!--  <label for="" class="form-label">Imagen</label>-->
  <%= f.file_field :image,
                   class: 'form-control d-none',
                   autocomplete: false,
                   direct_upload: true,
                   data: {
                     image_preview_target: "input",
                     action: "change->image-preview#preview"
                   },
                   accept: "image/*"
  %>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="div-image-preview">
      <% binding.pry %>
      <% if entity_business.image.attached? && entity_business.image.persisted? %>
        <%= image_tag entity_business.image, data: { image_preview_target: "preview" }, class: "image-upload" %>
    <% else %>
        <%= image_tag "", data: { image_preview_target: "preview" }, class: "image-upload" %>
    <% end %>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <button for="entity_business_image" class="btn btn-primary" style="border-radius: 10px;" type="button" data-id="entity_business_image" data-action="click->image-preview#loadInputFile">Cambiar Avatar</button>
    </div>
  </div>
</div>