<div class="app-content mt-3">
  <div class="container-fluid">
    <div class="row g-4">
      <div class="col-12">
        <div class="card card-primary card-outline mb-4">
          <div class="card-header">
            <div class="card-title"><b><span class="bi bi-building-fill"></span> Listado de Empresas o Negocios</b></div>
          </div>
          <div class="card-body">
            <div data-controller="dataTable">
              <div id="toolbar">
                <!--                <span style="font-size: 1.5em; font-weight: bold;margin-right: 10px;">Usuarios</span>-->
                <%# if show_html('admin_access', 'users', 'create') %>
                <%= link_to admin_entity_business_new_path, "data-controller": "turbo", class: "btn btn-primary" do %>
                  <i class="bi bi-plus"></i>
                  Nueva Empresa o Negocio
                <% end %>
                <button type="button" class="btn btn-danger" data-action="click->admin#blockDelete">
                  <i class="bi bi-trash"></i>
                  Eliminar
                </button>
                <%# end %>
              </div>
              <table
                id="table"
                data-url="/<%= I18n.locale %>/admin/entity_business/data"
                data-id-field="id"
                data-select-item-name="id"
                data-detail-view="true"
                data-detail-formatter="detailFormatter"
                data-show-columns="true"
                data-search="true"
              >
                <thead>
                <tr>
<!--                  <th data-field="id" data-checkbox="true"></th>-->
                  <th data-field="id" data-width="1" data-width-unit="%"><input id="checkBtn" type='checkbox' data-action="change->dataTable#checkUncheckAll"></th>
                  <th data-field="image" data-width="5" data-width-unit="%" data-visible="true" data-switchable="true">Imagen</th>
                  <th data-field="name" data-visible="true" data-switchable="false">Nombre</th>
                  <th data-field="code" data-visible="true" data-switchable="true">Código</th>
                  <!--                  <th data-field="admin" data-visible="true" data-switchable="true" data-formatter="iconFormatter">¿Admin?</th>-->
                  <th data-field="action" data-width="5" data-width-unit="%" data-visible="true" data-switchable="false" data-align="center"></th>
                </tr>
                </thead>
              </table>

              <%= render 'partials/datatable_component/details_view' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>